/* Login Form Styles */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #0bbed6, #f3e5f5); /* Gradient background */
  padding: 0 20px;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #0c0c0c; /* Dark text for the heading */
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-align: center;
}

.login-form input {
  width: 300px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #bdb0b0;
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.login-form input:focus {
  border-color: #0bbed6; /* Highlight border color */
  box-shadow: 0 0 10px rgba(11, 204, 225, 0.2); /* Focus shadow effect */
  outline: none;
}

.login-form button {
  background-color: #0bbed6; /* Primary button color */
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.login-form button:hover {
  background-color: #250bf1; /* Hover color */
  transform: scale(1.05); /* Slight scale effect */
}

.login-form button:active {
  background-color: #0056b3; /* Active state */
  transform: scale(1); /* Reset scale on click */
}

.login-form p {
  color: red;
  margin-top: 10px;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .login-form input {
    width: 90%; /* Adjust input width on smaller screens */
    padding: 12px; /* Adjust padding */
  }

  .login-form button {
    width: 90%; /* Adjust button width on smaller screens */
    padding: 12px;
    font-size: 1rem; /* Adjust font size for button */
  }
}
